rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isNewUser(userId) {
      return !exists(/databases/$(database)/documents/users/$(userId));
    }

    // /users/{userId}
    match /users/{userId} {
      // Anyone can create their own user document.
      allow create: if isSignedIn() && isOwner(userId) && isNewUser(userId);
      // Only the owner can read, update or delete their own user document.
      allow get, update, delete: if isSignedIn() && isOwner(userId);
    }
    
    // /users/{userId}/websiteReports/{reportId}
    match /users/{userId}/websiteReports/{reportId} {
      // Any authenticated user can create a report under their own user ID.
      allow create: if isOwner(userId);
      // Only the owner can read, update or delete their own reports.
      allow get, list, update, delete: if isOwner(userId);
    }
  }
}
